.container {
    display: flex;
    margin: 10px;
    padding: 10px;
    background-color: lightgray;
    justify-content: center;
}

#photo {
    display: flex;
    width: 300px;
    height: 400px;
    background-color: lightskyblue;
    justify-content: center;
    align-items: center;
}

#mainDetails {
    display: flex;
}

ul {
    list-style-type: none;
}

.comparableStats {
    text-align: center;
}